<div class="padding"></div>
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <div class="recipe-image">
        <img src="{{recipe.image}}" alt="recipe image" class = "recipe-image1" uk-cover>
      </div>
    </div>
    <div>
        <div class="uk-card-body">
            <div class="titleAndButtons">
              <h3 class="uk-card-title">{{recipe.title}}</h3>
              {{#if isAdmin}}
                <div class="adminButtons">
                  <a href="/admin/{{recipe._id}}/updateRecipe" class="uk-icon-button" uk-icon='file-edit'></a>
                  <a href="/admin/{{recipe._id}}/deleteRecipe" class="uk-icon-button" uk-icon='trash'></a>
                </div>
              {{/if}}
            </div>
              <label class = "cardTitle">Servings: {{recipe.servings}}</label>
              <label class = "cardTitle spaceLabel">Calories: {{recipe.calories}}</label>
            <p class = "cardTitle">Ingredients</p>
            <ul class = "cardText ingredientsList">
            {{#each recipe.ingredients as |ingredient|}}
              <li>{{ingredient}}</li>
            {{/each}}
            </ul>

                       <div class="label-container">
              {{#each recipe.healthLabels as |hlabel|}}
                <span class="uk-label uk-label-success">{{hlabel}}</span>
              {{/each}}
              {{#each recipe.dietLabels as |dlabel|}}
                <span class="uk-label uk-label-default">{{dlabel}}</span>
              {{/each}}
              {{#each recipe.cautions as |caution|}}
                <span class="uk-label uk-label-warning">{{caution}}</span>
              {{/each}}
            </div>    
        </div>
    </div>
</div>

<div class="commentsSection">
  <p class = "cardTitle">Comments</p>
{{#each recipe.comments}}
<div> 
<p> {{this.comment}} </p>
</div>
{{/each}}
<p class = "cardTitle"> Add comment</p>
<form action="/recipes/{{recipe._id}}" method="POST">
    <textarea name="comment" rows="5" cols="40" placeholder="Write here!"></textarea>
  <input type="submit" value="Submit" class = "commentButton">
</form>
<a href="/">Go back</a>
</div>