<form action="/admin/{{_id}}/updateRecipe" method="POST" class = "padding">
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <div class="recipe-image">
        <img src="{{image}}" alt="recipe image" class = "recipe-image1" uk-cover>
      </div>
  </div>
  <div>
    <div class="uk-card-body">
        <div class="titleAndButtons">
          <h3 class="uk-card-title"><input type="text" name = "title" placeholder="Title" id = "name" value = "{{title}}"></h3>
        </div>
          <label for="servings" class = "cardText">Servings:</label>
          <input name = "servings" type="number" placeholder="Servings" class = "cardText servingsInput" value = {{servings}}>
          
          <label for="calories" class = "cardText">Calories</label>
          <input name = "calories" type="text" placeholder="Calories" class = "cardText" value = {{calories}}>
          
          <div class="addIngredientButton">
          <p class = "cardText">Ingredients</p><a href="#" class = "addIngredient"><span uk-icon="plus-circle"></span></a>
          </div>

        <ul class = "cardText ingredientsList editList">
        {{#each ingredients as |ingredient|}}
         <div class="deleteIngredientButton">
          <li class = "listElement"><input name = "ingredients" type="text" placeholder="Ingredient" value = "{{ingredient}}" class = "cardText ingredientInput"></li>
          <a href="#" class = "deleteLi"><span uk-icon="minus-circle"></span></a>
        </div>
        {{/each}}
        </ul>

        <label for="instructions" class = "cardText">Directions URL:</label>
        <input name = "instructions" type="text" placeholder="URL" class = "cardText urlInput" value = {{instructions}}>
        
        <input type="submit" value = "SAVE" class = "saveButton">
    </div>
  </div>
</form>